body {
    margin: 30px;
    padding: 30px;
    gap: 40px;
    background-color: #EFE2BA;
    font-family: sans-serif;

}

h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 64px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 0 0 auto;
}

#panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#container {
    /* background-color: white;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(9%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(9%, 1fr));
    max-height: 673px;
    max-width: 673px; */

    background-color: white;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 25px;
    margin-right: 40px;
    /* grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr); */
    border: 5px solid black;
    border-radius: 3px;
    height: 673px;
    width: 673px;

}

.gridRow {
    display: flex;

}

.cell {
    border: 1px solid black;
    height: 40px; 
    width: 40px;

}

button {
    border: 2px solid black;
    font-family: sans-serif;
    background-color: #C5CBE3;
    border-radius: 8px;
    padding: 10px 32px;
}

button:hover{
    transform: scale(1.1);
    border: 2px solid yellow;
}

