body {
    margin: 30px;
    padding: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gridRow {
    display: flex;

}

.cell {
    border: 1px solid black;
    height: 40px; 
    width: 40px;

}

